.blocks {
	display:flex;
}
.block1 {
	height: 150px;
	width: 150px;
	background-color: red;
	position:relative;
	left: 300px;
}
.block2 {
	height: 150px;
	width: 150px;
	background-color: blue;
	position:relative;
	right: 150px;
}
.block3 {
	height: 150px;
	width: 150px;
	background-color: green;
	position:relative;
	right: 150px;
}